@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: #1B232A;
  font-family: 'Roboto Flex', Arial, sans-serif;
  padding-inline: 5%;
}

.root {
  min-height: 100vh;
  width: 100%;
  display: flex;  
}

img {
  display: block;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}